<!DOCTYPE html>
<html style="
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
  ">

<head>
    <meta charset="UTF-8">
    <title>Welcome to MOVEMATE | Business Account Verification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      margin: 0px;
      height: 100%;
    ">
    <table border="0" cellpadding="0" cellspacing="0" class="email-template" style="
        border-collapse: separate;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        position: relative;
        background-color: #ffffff;
        height: 0px;
        width: 100%;
      ">
        <tr style="vertical-align: middle">
            <td align="center" style="position: relative; width: 755px">
                <table border="0" cellpadding="0" cellspacing="0" class="contents" style="
              border-collapse: separate;
              padding: 0px 0px 64px;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              width: 755px;
              position: relative;
              background-color: #ffffff;
              text-align: left;
            ">
                    <tr>
                        <td align="center" style="position: relative; width: 100%">
                            <table border="0" cellpadding="0" cellspacing="0" class="hero" style="
                    border-collapse: separate;
                    padding: 64px;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    background: linear-gradient(180deg, rgb(0, 48.48, 116) 0%, rgb(0, 61, 166) 100%);
                    text-align: left;
                  ">
                                <tr>
                                    <td align="left" style="position: relative; width: 100px; height: 67px">
                                        <img class="screenshot" src="https://www.movematethailand.com/assets/images/logo/MMLogo_small.png" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: relative;
                          width: 100px;
                          height: 67px;
                          object-fit: contain;
                          text-align: left;
                        " />
                                    </td>
                                </tr>
                                <tr style="height: 16px"></tr>
                                <tr>
                                    <td align="left" style="position: relative; width: 100%">
                                        <table border="0" cellpadding="0" cellspacing="0" class="frame" style="
                          border-collapse: separate;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: relative;
                          width: 100%;
                          text-align: left;
                        ">
                                            <tr>
                                                <td align="left" style="position: relative; width: 100%">
                                                    <div class="please-check-your-em" style="
                                margin: 0;
                                padding: 0;
                                border: 0;
                                font: inherit;
                                font-size: 32px;
                                -webkit-font-smoothing: antialiased;
                                box-sizing: border-box;
                                position: relative;
                                align-self: stretch;
                                margin-top: -1px;
                                font-family: 'Prompt-Bold', Helvetica;
                                font-weight: 700;
                                color: #ffffff;
                                letter-spacing: 0;
                                line-height: 48px;
                                width: 100%;
                                text-align: left;
                              ">
                                                        การอัพเกรดบัญชีสำเร็จ
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="height: 100%"></tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="height: 100%"></tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height: 40px"></tr>
                    <tr>
                        <td align="center" style="position: relative; width: 100%">
                            <table border="0" cellpadding="0" cellspacing="0" class="div" style="
                    border-collapse: separate;
                    padding: 0px 64px;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    text-align: left;
                  ">
                                <tr>
                                    <td align="center" style="position: relative; width: 100%">
                                        <div class="we-ve-emailed-a-di" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 12px;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: relative;
                          align-self: stretch;
                          margin-top: -1px;
                          font-family: 'Prompt-Regular', Helvetica;
                          font-weight: 400;
                          color: #637381;
                          letter-spacing: 0;
                          line-height: 18px;
                          width: 100%;
                          text-align: left;
                        ">
                                            *** อีเมลถูกส่งด้วยระบบอัตโนมัติ กรุณาอย่าตอบกลับอีเมลฉบับนี้ ***
                                        </div>
                                    </td>
                                </tr>
                                <tr style="height: 32px"></tr>
                                <tr>
                                    <td align="center" style="position: relative; width: 100%">
                                        <p class="p" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 14px;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          color: transparent;
                          line-height: 22px;
                          position: relative;
                          align-self: stretch;
                          font-family: 'Prompt-Regular', Helvetica;
                          font-weight: 400;
                          letter-spacing: 0;
                          width: 100%;
                          text-align: left;
                        ">
                                            <span class="text-wrapper" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #212b36;
                          ">ยินดีต้อนรับ {{business_title}} {{business_name}},<br
                                                    style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /><br
                                                    style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Movemate
                                                ขอบคุณที่ท่านสมัครสมาชิกรูปแบบ
                                            </span>
                                            <span class="span" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #002d74;
                          ">“Corporate”</span>
                                            <span class="text-wrapper" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #212b36;
                          "><br /><br />Username:
                                            </span>
                                            <span class="span" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #002d74;
                          ">{{username}}<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /></span>
                                            <span class="text-wrapper" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #212b36;
                          ">Password:
                                            </span>
                                            <span class="span" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #002d74;
                          ">{{password}}</span>
                                            <span class="text-wrapper" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #212b36;
                          "></span>
                                            <br />
                                            <span class="text-wrapper-2" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #637381;
                          ">(กรุณาเปลี่ยนรหัสผ่านเพื่อความปลอดภัย)<br
                                                    style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /></span>
                                            <br /><span class="text-wrapper" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #212b36;
                          ">คุณสามารถเริ่มใช้งาน Movemate ได้ทันที
                                                <br /><br
                                                    style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />โปรดทราบเมื่อคุณเริ่มต้นใช้งาน
                                                Movemate
                                                คุณได้อ่านเงื่อนไขข้อกำหนดต่างๆและยินยอมเป็นที่เรียบร้อยแล้ว
                                                หากมีข้อสงสัยกรุณาติดต่อเราได้ที่
                                            </span>
                                            <span class="text-wrapper-3" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            color: #003da6;
                          ">www.movematethailand.com
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 100%"></tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height: 40px"></tr>
                    <tr>
                        <td align="center" style="position: relative; width: 100%">
                            <table border="0" cellpadding="0" cellspacing="0" class="actions" style="
                    border-collapse: separate;
                    padding: 0px 64px;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    text-align: left;
                    height: 0px;
                  ">
                                <tr style="vertical-align: top">
                                    <td align="left" style="position: relative">
                                        <a href="{{movemate_link}}" target="_blank" style="text-decoration: none;">
                                            <table border="0" cellpadding="0" cellspacing="0" class="button-2" style="
                          border-collapse: separate;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          padding: 6px 16px;
                          position: relative;
                          border-radius: 8px;
                          border: 1px solid;
                          border-color: #2065d17a;
                          text-align: left;
                          height: 0px;
                        ">
                                                <tr style="vertical-align: middle">
                                                    <td align="center" style="position: relative; width: fit-content">
                                                        <div class="label-2" style="
                                margin: 0;
                                padding: 0;
                                border: 0;
                                font: inherit;
                                font-size: 14px;
                                -webkit-font-smoothing: antialiased;
                                box-sizing: border-box;
                                position: relative;
                                width: fit-content;
                                margin-top: -1px;
                                font-family: 'Prompt-Bold', Helvetica;
                                font-weight: 700;
                                color: #2065d1;
                                text-align: center;
                                letter-spacing: 0;
                                line-height: 24px;
                                white-space: nowrap;
                              ">
                                                            Go to Movemate
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </a>
                                    </td>
                                    <td style="padding: 0px; width: 100%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height: 40px"></tr>
                    <tr>
                        <td align="center" style="position: relative; width: 100%">
                            <table border="0" cellpadding="0" cellspacing="0" class="footer" style="
                    border-collapse: separate;
                    padding: 16px 64px 0px;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    background-color: transparent;
                    text-align: left;
                    height: 0px;
                  ">
                                <tr style="vertical-align: top">
                                    <td style="position: relative">
                                        <table border="0" cellpadding="0" cellspacing="0" class="name" style="
                          border-collapse: separate;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: relative;
                          text-align: left;
                        ">
                                            <tr>
                                                <td align="left" style="position: relative; width: 100%">
                                                    <div class="we-ve-emailed-a-di-2" style="
                                margin: 0;
                                padding: 0;
                                border: 0;
                                font: inherit;
                                font-size: 14px;
                                -webkit-font-smoothing: antialiased;
                                box-sizing: border-box;
                                margin-top: -1px;
                                color: #212b36;
                                line-height: 22px;
                                position: relative;
                                align-self: stretch;
                                font-family: 'Prompt-Regular', Helvetica;
                                font-weight: 400;
                                letter-spacing: 0;
                                width: 100%;
                                text-align: left;
                              ">
                                                        Movemate Thailand
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="position: relative; width: 100%">
                                                    <div class="we-ve-emailed-a-di-3" style="
                                margin: 0;
                                padding: 0;
                                border: 0;
                                font: inherit;
                                font-size: 12px;
                                -webkit-font-smoothing: antialiased;
                                box-sizing: border-box;
                                color: #637381;
                                line-height: 18px;
                                position: relative;
                                align-self: stretch;
                                font-family: 'Prompt-Regular', Helvetica;
                                font-weight: 400;
                                letter-spacing: 0;
                                width: 100%;
                                text-align: left;
                              ">
                                                        contact@movematethailand.com
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="height: 100%"></tr>
                                        </table>
                                    </td>
                                    <td style="width: 100%"></td>
                                    <td style="position: relative; width: 64px; height: 34px">
                                        <img class="MM-smalllogo" src="https://www.movematethailand.com/assets/images/logo/MMLogo_small.png" style="
                                            {{!-- Remove display: none; --}}
                          display: none; 
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: relative;
                          width: 64px;
                          height: 34px;
                          object-fit: cover;
                          text-align: left;
                        " />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height: 100%"></tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>